.error-wrapper {
	position: fixed;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(var(---clr-white));
	z-index: 999999;
	color: hsl(var(---clr-black));
}
