header {
	background: unset;
	background-color: transparent;
	z-index: 999999;
}

.brand-name {
	display: none;
}

@media (min-width: 40em) {
	.brand-name {
		display: inline;
	}
}

.header {
	padding: 1rem;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
}

.header a{
	color: var(---clr-white);
}

.input-search {
	width: 12rem;
	margin-right: 1rem;
	border: 2px solid hsl(var(---clr-white));
	background-color: hsl(var(---clr-black));
	padding: 0.5rem;
	height: 100%;
}

.search-icon {
	position: absolute;
	inset: 20% 3% 0 0;
	margin: 0 1rem 0 auto;
}

.homepage .brand-name {
	color: hsl(var(---clr-black));
}

.header-side {
	align-self: flex-start;
}

@media (min-width: 60em) {
	.input-search {
		width: 25rem;
	}
}

.logout-wrapper {
	background-color: hsl(var(---clr-black));
	align-self: center;
	padding: 0.5rem;
}

.input-search-label::placeholder {
	color: hsl(var(--clr-black));
}

.logout-icon,
.login-icon,
.login-link {
	color: hsl(var(---clr-white));
	display: flex;
	justify-content: center;
	align-items: center;
}

.logout-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.user-icon {
	color: hsl(var(---clr-white));
}

.user-icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-icon {
	margin-left: 1rem;
}
