.videoListingScreen .category-wrapper {
	padding: 6rem 4rem 2rem 4rem;
	border: 0;
}

.video-thumbnail {
	width: 15rem;
	aspect-ratio: 1/1.5;
}

.videoListingScreen .category {
	width: 2rem;
	height: 2rem;
	margin-bottom: 0.5rem;
}

.scroll-btn {
	cursor: pointer;
}

.videoListingScreen .left-scroll-btn {
	inset: 25% 0 0 1%;
}

.videoListingScreen .right-scroll-btn {
	inset: 25% 0 0 95vw;
}

.homepage .category-wrapper {
	padding: 3rem 9rem;
}

.videos {
	min-width: 80%;
}

.videos-listed {
	max-width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	gap: 2rem;
}

.video-poster {
	aspect-ratio: 1/1.35;
}

.video-cta-icons {
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem;
}

.video-info {
	background-color: hsl(var(--clr-light));
}

.video-sub-info {
	color: hsl(var(--clr-dark));
	padding: 0.5rem;
}
